* {
  box-sizing: border-box;
}

.container-all {
  display: flex;
  flex-wrap: wrap;
  /* width: 640px;
  height: 640px;
  border: 1px solid black; */
}

.container-all div {
  width: 39.8px;
  height: 39.8px;
  border: 1px solid grey;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 20px
}

.button,
.button-2 {
  border: none;
  border-radius: 2px;
  width: 300px;
  height: 30px;
  cursor: pointer;
}

.button:hover,
.button-2:hover {
  transform: scale(1.05);
}

.div-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}